.header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.header-left, .header-middle, .header-right {
  display: flex;
  align-items: center;
  margin: 20px;
}

.header-left {
  display: flex;
  align-items: center;
}

.name-icon {
  font-size: 2rem;
  font-weight: bold;
}

.header-middle {
  display: flex;
  gap: 2rem;
}

.header-middle a {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.header-middle a:hover {
  color: #FFDD57;
  animation: linkHoverAnimation 0.3s ease-in-out;
}

@keyframes linkHoverAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.header-right {
  display: flex;
  align-items: center;
}

.header-icons {
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.header-icons:hover {
  transform: scale(1.1);
}

.header-icons span + span {
  margin-left: 1.5rem;
}

.header-left .name-icon {
  width: 40px;
  height: auto;
}

.header-right img {
  width: 30px;
  height: auto;
  margin-left: 1.5rem;
  transition: transform 0.2s ease;
}

.header-right img:hover {
  transform: scale(1.1);
}
