.terminal-section {
  font-family: 'Lexend', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.theme-buttons {
  display: flex;
  gap: 10px;
}

.theme-buttons button {
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.theme-buttons button:hover {
  background-color: var(--background-color);
}

.terminal-container {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Lexend', sans-serif;
  border-radius: 10px;
  width: 60rem;
  margin: 2rem auto;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.terminal-header {
  background-color: var(--header-bg-color);
  color: var(--text-color);
  padding: 5px 10px;
  border-radius: 10px 10px 0 0;
  font-size: 14px;
}

.header-text {
  color: var(--text-color);
}

.terminal-body {
  margin: 0px 20px;
  padding: 10px 0;
}

.command {
  color: var(--command-color);
}

.terminal-path {
  color: var(--path-color);
}

.user {
  color: #C9E9D2;
}

.input-line {
  display: flex;
  align-items: center;
  color: var(--input-line-color);
}

input {
  background: none;
  font-family: 'Lexend', sans-serif;
  width: 100%;
  border: none;
  color: var(--input-line-color);
  font-size: 16px;
  outline: none;
  margin-bottom: 2px;
}

.error {
  color: var(--error-color);
}

.user-command {
  color: var(--user-command-color);
  font-weight: bold;
}

a {
  color: var(--input-line-color);
}

#angle-right {
  margin-right: 5px;
  fill: var(--input-line-color);
}

@media (max-width: 768px) {
  .terminal-container {
    width: 90%;
  }
}
